.nav-hamburger {
  transform: scale(.5);
  -webkit-tap-highlight-color: transparent;

  z-index: 8;
  width: 30px;
  height: 24px;
  position: relative;
  margin: 0 2rem;
  display: block;
  cursor: pointer;
  span {
    border-radius: 3px;
    cursor: pointer;
    height: 3px;
    width: 30px;
    background: #000;
    position: absolute;
    left: 0;
    opacity: 1;
    display: block;
    content: '';
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: .3s ease-in-out;
  }
}
.nav-hamburger span:nth-child(1) {
  top: 0;
}
.nav-hamburger span:nth-child(2), .nav-hamburger span:nth-child(3) {
  top: 10px;
}
.nav-hamburger span:nth-child(4) {
  top: 20px;
}
.nav-hamburger.menu-open span:nth-child(1), .nav-hamburger.menu-open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.nav-hamburger.menu-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-hamburger.menu-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-hamburger.menu-open span:nth-child(1), .nav-hamburger.menu-open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}