.small-tabs {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  &:before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    background: #eee;
    width: 100%;
    z-index: 1;
  }
  li {
    background: #fff;
    position: relative;
    padding: 0 20px;
    z-index: 2;
  }
  li.active {
    color: #b900b4;
  }
}