label.control {
  background: #fff;
  position: relative;
  
  width: 100%;
  min-height: 55px;
  
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2px;
  div {
    font-size: 10.5px;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    margin-bottom: 4px;
    position: relative;
    font-family: 'Segoe UI';
    z-index: 3;
  }
  input, textarea, select, option {
    z-index: 2;
    border: none;
    border-radius: $border-radius;
    margin: 0;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0,0,0,0.20);
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    top: 0;
    left: 0;
    font-family: $font-family;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    will-change: background-color;
    transition: background-color 0.2s ease;
    &:focus {
      background-color: #e5e8e9;
    }
  }
  
}